.main-body-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 85%;

  background-color: darkgray;

  .top-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      display: flex;
      background-color: white;
      justify-content: center;
      width: 30%;
      height: 7vh;
    }
  }

  .class-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
    width: 100%;

    .main-content-wrapper {
      border: 1px solid black;
      background-color: white;
    }

    .first-container {
      display: flex;

      h1 {
        border: 1px solid black;
        background-color: white;
        width: 45%;
        height: 8vh;
      }
    }

    .second-container {
      display: flex;

      h1 {
        border: 1px solid black;
        background-color: white;
        width: 45%;
        height: 8vh;
      }
    }
  }
}
