.side-bar-container {
  display: flex;
  flex-direction: column;
  width: 10%;
  border: 1px solid blue;
  height: 100%;
  align-items: center;
  background-color: rgb(162, 162, 249);
  gap: 10%;

  .logo-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px;
    border-radius: 5%;
    border: 1px solid black;
    font-size: 18px;
  }

  .button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      display: flex;
      width: 100px;
      height: 40px;
      border-radius: 5%;
      align-items: center;
      font-size: 18px;
    }
  }
}
